$black: hsla(0, 0%, 0%, 0.87);
$dark: hsl(220, 12%, 14%);
$bg-light: hsl(0, 0%, 96%);
$grey: hsla(0, 0%, 41%);
$white: hsl(0, 0%, 100%);
$red: hsl(4, 90%, 58%);
$dark-blue: hsl(211, 100%, 50%);
$ligth-blue: hsl(224, 84%, 73%);

$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;
